%h3
  = "Room #{@room.name}"

%p
  = link_to 'back', rooms_path

%div#message-form
  %input#message{type: 'text', data: {room_id: @room.id}}
  %button.submitBtn
    Add
%div#messages-count
  = Message.count

%ul.messages
  - @messages.each do |message|
    %li
      = message.content
