!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Proof
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
%body{"data-room-id" => "#{@room.id if @room}"}
  - if current_user
    = link_to 'sign out', destroy_user_session_path, method: :delete
  %p.notice
    = notice
  %p.alert
    = alert
  = yield
